*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: url(https://plus.unsplash.com/premium_photo-1673108852141-e8c3c22a4a22?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;  
  background-repeat: no-repeat
}

#main{
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(5px); 
  padding: 100px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

#result{
  text-align: center;
  padding: 50px;
  background: #FFFFFF;
  transition: all 0.5s;
}
#result p{
  margin: 5px 0;
}
hr{
  border: 1px dotted black;
}
